@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    overscroll-behavior-y: none;
    /* Prevent rubber-banding on mobile */
    overflow-x: hidden;
    /* Ensure horizontal overflow is handled here */
}

@layer utilities {
    .text-stroke {
        -webkit-text-stroke: 2px rgba(255, 255, 255, 0.8);
        color: transparent;
    }

    .glass {
        background: rgba(255, 255, 255, 0.05);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255, 255, 255, 0.15);
    }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #111;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccff00;
}